:root {
  --avatar-size: 200px;
  --base-font-size: 20px;
  --block-max-width: 600px;
  --block-min-width: 300px;
  --color-dark-grey: #3d3b3d;
  --color-white: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: var(--base-font-size);
}

body {
  align-items: center;
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border: 5px solid var(--color-white);
  cursor: pointer;
}

.name {
  min-width: var(--block-min-width);
  max-width: var(--block-max-width);
  width: 50%;
  font-size: 1.3em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.link {
  background-color: var(--color-white);
  border: 2px solid var(--color-dark-grey);
  color: var(--color-dark-grey);
  height: 48px;
  line-height: 48px;
  margin-bottom: 20px;
  max-width: var(--block-max-width);
  min-width: var(--block-min-width);
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 50%;
}

.link:hover,
.link:active {
  background-color: var(--color-dark-grey);
  border: 2px solid var(--color-white);
  color: var(--color-white);
  box-shadow: 5px 5px 0px 0px var(--color-white);
  transform: translate(-5px, -5px);
}
